@model HomeIndexViewModel
@{
    ViewBag.Title = "Home Index";
}


<partial name="_StudentTable" for="@Model.Students" />

@section bottom
{
    <div>
        <a asp-controller="Home" asp-action="Create" >添加一个学生</a>
    </div>
}

@await Component.InvokeAsync("Welcome")
